package layouts

templ Mainlayout(contents templ.Component) {

  <html lang="EN">
      <head>
          <title>Starter Kit 123</title>
      </head>
      <body>
        <div>
            <span>This is the layout</span>
            <hr>
            @contents
        </div>
      </body>
  </html>

}